body {
    margin: 0;
    color: #36405F; 
    font-family: 'Urbanist', sans-serif;
    background-color: #FFFDF8;
  }

.header {
    font-size: 64px;
    margin: 40px;
    text-align: center;
}

.nav justify-content-end {
    color: #36405F; 
    background-color: #FFFDF8;
}
 
.list-group-item {
    background-color: #FFFDF8;
    color: #36405F;
    margin-left: 40px;
    margin-right: 40px;
    align-items: center;
}

.prototype {
    width: 1200px;
    justify-content: center;
}

.card-group {
    color: #36405F; 
    font-family: 'Urbanist', sans-serif;
    background-color: #FFFDF8;
}

.card-body {
    color: #36405F; 
    font-family: 'Urbanist', sans-serif;
    background-color: #FFFDF8;
}

.card-img-top {
    width: auto;
    margin: 40px;
    background-color: #FFFDF8;
    color: #FFFDF8;;
}

